<a href="https://colab.research.google.com/github/AnSay0/Projects/blob/AI/Cost_estamation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import numpy as np
import  pandas as pd

from keras.models import Sequential
from keras.layers import Flatten
from keras.layers import Dense
from keras.callbacks import ModelCheckpoint

from  sklearn import  linear_model

In [ ]:
ls

csv_result-kemerer.csv  sample_data/

In [ ]:
data = pd.read_csv("csv_result-cocomo811.csv")

In [ ]:
data.head()

   id  rely  data  cplx  time  stor  ...  lexp  modp  tool  sced    loc  actual
0   1  0.88  1.16  0.70   1.0  1.06  ...  1.00  1.24  1.10  1.04  113.0  2040.0
1   2  0.88  1.16  0.85   1.0  1.06  ...  0.95  1.10  1.00  1.00  293.0  1600.0
2   3  1.00  1.16  0.85   1.0  1.00  ...  0.95  0.91  0.91  1.00  132.0   243.0
3   4  0.75  1.16  0.70   1.0  1.00  ...  0.95  1.24  1.00  1.04   60.0   240.0
4   5  0.88  0.94  1.00   1.0  1.00  ...  0.95  1.24  1.00  1.00   16.0    33.0

[5 rows x 18 columns]

In [ ]:
data.describe()

              id       rely       data  ...       sced          loc        actual
count  63.000000  63.000000  63.000000  ...  63.000000    63.000000     63.000000
mean   32.000000   1.036349   1.003968  ...   1.048889    77.209841    683.320635
std    18.330303   0.193477   0.073431  ...   0.075586   168.509374   1821.582348
min     1.000000   0.750000   0.940000  ...   1.000000     1.980000      5.900000
25%    16.500000   0.880000   0.940000  ...   1.000000     8.650000     40.500000
50%    32.000000   1.000000   1.000000  ...   1.000000    25.000000     98.000000
75%    47.500000   1.150000   1.040000  ...   1.080000    60.000000    438.000000
max    63.000000   1.400000   1.160000  ...   1.230000  1150.000000  11400.000000

[8 rows x 18 columns]

In [ ]:
data.astype('float32')

      id  rely  data  cplx  time  stor  ...  lexp  modp  tool  sced    loc  actual
0    1.0  0.88  1.16  0.70  1.00  1.06  ...  1.00  1.24  1.10  1.04  113.0  2040.0
1    2.0  0.88  1.16  0.85  1.00  1.06  ...  0.95  1.10  1.00  1.00  293.0  1600.0
2    3.0  1.00  1.16  0.85  1.00  1.00  ...  0.95  0.91  0.91  1.00  132.0   243.0
3    4.0  0.75  1.16  0.70  1.00  1.00  ...  0.95  1.24  1.00  1.04   60.0   240.0
4    5.0  0.88  0.94  1.00  1.00  1.00  ...  0.95  1.24  1.00  1.00   16.0    33.0
..   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...    ...     ...
58  59.0  1.00  0.94  1.15  1.06  1.06  ...  1.00  0.91  1.00  1.00   23.0    70.0
59  60.0  1.15  0.94  1.30  1.11  1.06  ...  1.07  1.10  1.10  1.08    6.7    57.0
60  61.0  1.00  0.94  1.15  1.00  1.00  ...  1.00  0.82  1.00  1.00   28.0    50.0
61  62.0  0.88  0.94  1.30  1.11  1.21  ...  1.14  0.91  1.24  1.00    9.1    38.0
62  63.0  1.00  0.94  1.15  1.00  1.00  ...  1.00  0.82  1.00  1.00   10.0    15.0

[63 rows x 18 columns]

In [ ]:
data.drop("id", axis=1)

    rely  data  cplx  time  stor  virt  ...  lexp  modp  tool  sced    loc  actual
0   0.88  1.16  0.70  1.00  1.06  1.15  ...  1.00  1.24  1.10  1.04  113.0  2040.0
1   0.88  1.16  0.85  1.00  1.06  1.00  ...  0.95  1.10  1.00  1.00  293.0  1600.0
2   1.00  1.16  0.85  1.00  1.00  0.87  ...  0.95  0.91  0.91  1.00  132.0   243.0
3   0.75  1.16  0.70  1.00  1.00  0.87  ...  0.95  1.24  1.00  1.04   60.0   240.0
4   0.88  0.94  1.00  1.00  1.00  0.87  ...  0.95  1.24  1.00  1.00   16.0    33.0
..   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...    ...     ...
58  1.00  0.94  1.15  1.06  1.06  1.00  ...  1.00  0.91  1.00  1.00   23.0    70.0
59  1.15  0.94  1.30  1.11  1.06  1.00  ...  1.07  1.10  1.10  1.08    6.7    57.0
60  1.00  0.94  1.15  1.00  1.00  0.87  ...  1.00  0.82  1.00  1.00   28.0    50.0
61  0.88  0.94  1.30  1.11  1.21  1.15  ...  1.14  0.91  1.24  1.00    9.1    38.0
62  1.00  0.94  1.15  1.00  1.00  1.00  ...  1.00  0.82  1.00  1.00   10.0    15.0

[63 rows x 17 columns]

In [ ]:
x_train=data
x_train=x_train.drop("actual", axis=1)
x_train=x_train.drop("id", axis=1)
y_train=data['actual']

In [ ]:
x_train.head()

   rely  data  cplx  time  stor  virt  ...  vexp  lexp  modp  tool  sced    loc
0  0.88  1.16  0.70   1.0  1.06  1.15  ...   1.1  1.00  1.24  1.10  1.04  113.0
1  0.88  1.16  0.85   1.0  1.06  1.00  ...   0.9  0.95  1.10  1.00  1.00  293.0
2  1.00  1.16  0.85   1.0  1.00  0.87  ...   0.9  0.95  0.91  0.91  1.00  132.0
3  0.75  1.16  0.70   1.0  1.00  0.87  ...   1.0  0.95  1.24  1.00  1.04   60.0
4  0.88  0.94  1.00   1.0  1.00  0.87  ...   0.9  0.95  1.24  1.00  1.00   16.0

[5 rows x 16 columns]

In [ ]:
y_train.head()

0    2040.0
1    1600.0
2     243.0
3     240.0
4      33.0
Name: actual, dtype: float64

In [ ]:
model = Sequential()
model.add( Flatten(input_shape = (16,1) ))

model.add(Dense(8, activation = 'relu'))
model.add(Dense(8, activation = 'relu'))

model.add(Dense(1, activation = 'linear'))
model.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_10 (Flatten)        (None, 16)                0

 dense_22 (Dense)            (None, 8)                 136

 dense_23 (Dense)            (None, 8)                 72

 dense_24 (Dense)            (None, 1)                 9

=================================================================
Total params: 217
Trainable params: 217
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss=tf.keras.losses.MeanSquaredError()
, optimizer='adam',
 metrics=['accuracy'])

In [ ]:
checkpointer = ModelCheckpoint(filepath='model.weights.best.hdf5', verbose=1,save_best_only=True)
hist = model.fit(x_train, y_train, batch_size=2, epochs=100, callbacks=[checkpointer])

Linear regression

In [ ]:
reg= linear_model.LinearRegression()

In [ ]:
reg.fit (x_train,y_train)

LinearRegression()

Testing model  for  using first  row

In [ ]:
reg.predict([[0.88,1.16,0.7,1,1.06,1.15,1.07,1.19,1.13,1.17,1.1,1,1.24,1.1,1.04,113]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([2206.00215896])

Model accuracy

In [ ]:
reg.score(x_train,y_train)

0.6340928352835438